@import url("https://fonts.googleapis.com/css2?family=Galindo&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

@theme {
  --font-naslov: "Vollkorn", serif;
  --font-telo: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
